<div class="mainClass">
  <div class="container containerClass demo">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="maintext iconspad">
          Your Peace of mind is our top priority!
        </div>
      </div>
    </div>

    <div class="row rowpad">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img
                  src="assets/images/Super-Support-2.svg"
                  class="logo"
                  alt=""
                />
              </div>
              <div class="col-sm-10">
                <div class="headsub">Super Support</div>
                <div class="subsubtext">
                  Appointy is supported by a team of dedicated professionals who
                  are always available via email. chat and phone.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img
                  src="assets/images/Multi-Location-Management-20.svg"
                  class="logo"
                  alt=""
                />
              </div>
              <div class="col-sm-10">
                <div class="headsub">Multi-Location Management</div>
                <div class="subsubtext">
                  Our education software caters to all types of education
                  institutions. If you have multiple centers and campuses,
                  Appointy allows easy management of all your locations from a
                  centralized admin portal.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row rowpad2">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img
                  src="assets/images/Free-setup-assistance-and-Easy-Migration-2.svg"

                  class="logo"
                  alt=""
                />
              </div>
              <div class="col-sm-10">
                <div class="headsub">Free Setup Assistance & Esy Migration</div>
                <div class="subsubtext">
                  With a quick onboarding and free personalized setup assistance
                  from product experts who have onboarded several educators, you
                  get started with Appointy in no time. Need to shift from your
                  existing system? Just let us know. We take care of everything!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img
                  src="assets/images/Security-2.svg"
                  class="logo"
                  alt=""
                />
              </div>
              <div class="col-sm-10">
                <div class="headsub">Security</div>
                <div class="subsubtext">
                  We take customer data security very seriously. Your data is
                  safe, backed-up on cloud, and you retain its complete
                  ownership. Our application is hosted on Google Cloud which
                  adheres to the highest standards of reliability and data
                  security.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
