<nav class="navbar navbar-light navbar-expand-lg p-0">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="assets/images/Appointy-Logo1.svg" class="logo" alt="">
      </a>

      <button class="navbar-toggler mr-2" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto align-middle">
              <li class="nav-item align-middle">
                  <a class="nav-link align-middle" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Customers</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" >Contact Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Enterprise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Login</a>
          </li>
              <li class="nav-item">
                <button type="button btn btn-sm" class="btn-grad rounded-pill">Sign Up</button>
              </li>
          </ul>
      </div>
  </div>

</nav>
