<div class="container containerClass">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="maintext">
        Appointy handles your everyday admin so that you can focus on increasing
        student success
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="subtext">
        Cost-effective education booking software that streamlines end-to-end
        operations, reduces ne ensures that your staff isn't overwhelmed
      </div>
    </div>
  </div>
  <div class="cards demo">
    <div class="row" style="padding-top: 80px">
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Calendar-Scheduler-2.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Calender Scheduler</div>
        <div class="subsubtext">
          See your entire schedule at a glance with Appointy's easy-to use
          calendar with colour-coded tiles for teachers and sessions. Sync
          schedule with your personal or professional calendars so that you're
          never double booked.
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Class-Reminders.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Class Reminders</div>
        <div class="subsubtext">
          Send automated email and text reminder notifications to students prior
          to a session, meeting or a class to ensure that they don't miss it.
          Customize them to add info tike room number, location tinks, etc.
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Resource-Scheduling-1.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Resource Scheduling</div>
        <div class="subsubtext">
          Reserve equipments, lab rooms, sports fields, conference halls, etc.
          automatically when a session is booked. Save time and reduce
          operational costs that come with manually allocating resources.
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Booking-Settings-1.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Booking Automation</div>
        <div class="subsubtext">
          Limit number of meetings and classes you can take in a day/week so
          that you are not overloaded. Choose how much in advance anyone can
          book/cancel. set maximum capacity for a class or session, and more.
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 60px">
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Team-Management-1.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Staff Management</div>
        <div class="subsubtext">
          Boost staff productivity and let them view & manage their own
          schedules and sick leaves using separate staff logins. Distribute
          sessions across your team automatically with intelligent staff
          allocation
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Online-prepayments-1.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Online Prepayments</div>
        <div class="subsubtext">
          Allow students to pay for your classes/sessions when they book.
          Require full/partial fee with our payment integrations with Stripe,
          Square, and Paypal so that you don't lose out on last minute
          cancellations
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Reporting-and-Analytics-2.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Reporting & Analytics</div>
        <div class="subsubtext">
          Keep a track on the number of classes in a week/month, sales, staff
          utilization, and more. Powerful reporting tools help you spot and
          resolve operational inefficiencies and help optimize your processes.
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Wellness-Scheduling-App-1.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Scheduling Mobile App</div>
        <div class="subsubtext">
          Stay on top of upcoming appointments and schedule changes with
          Appointy's Android & iOS mobile app. You and your staff can manage
          scheduling, payments, and reminders even when you are away from the
          desk
        </div>
      </div>
    </div>
  </div>

  <div class="part2">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="maintext">
          Appointy integrates with the apps you already use
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="subtext">
          Education scheduling software that integrates with popular payments
          apps, social media, video conferencing tools, and personal/ work
          calendars
        </div>
      </div>
    </div>

    <div class="row rowpad">
      <div class="col-sm text-center">
        <button
          type="button btn btn-sm"
          class="btn-grad rounded-pill btn btn-secondary"
        >
          Multiple Payments App
        </button>
      </div>
      <div class="col-sm">
        <button
          type="button btn btn-sm"
          class="btn-grad rounded-pill btn btn-secondary"
        >
          Personal & Work Calender
        </button>
      </div>
      <div class="col-sm">
        <button
          type="button btn btn-sm"
          class="btn-grad rounded-pill btn btn-secondary"
        >
          Video Conferencing App
        </button>
      </div>
    </div>

    <img src="assets/images/img2.png" alt="">
  </div>
</div>
