<div
  class="mainclass"
  [ngStyle]="{ 'background-image': 'url(assets/images/Footer-Element.png)' }"
>
  <div class="container containerClass demo">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="maintext iconspad">
          Try Appointy's education scheduling software. Get your free account
          now!
        </div>
      </div>
    </div>

    <div class="text-center rowpad bottompad">
      <button type="button btn btn-sm" class="btn-grad rounded-pill">
        Sign up now ! <i class="fa fa-arrow-right"></i>
      </button>
      <div class="subsubtext">
        No credit card required! Our free plan is free forever.
      </div>
    </div>
    </div>
    <div [ngStyle]="{ 'background-color': '#EDF1F7' }" >

    <div class="container">
    <div class="row rowback"
    [ngStyle]="{ 'background-color': '#EDF1F7' }">
      <div class="col-sm">
        <div class="subsubtext">
          <div style="color: black"><b>PRODUCT</b></div>
          <br />
          <div>Home</div>
          <div>Customers</div>
          <div>Contact Us</div>
          <div>Blog</div>
          <div>Pricing</div>
          <div>Sign Up</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="subsubtext">
          <div style="color: black"><b>FEATURES</b></div>
          <br />
          <div>Schedule online</div>
          <div>Increasing productivity</div>
          <div>Attract customers</div>
          <div>Retain customers</div>

        </div>

      </div>
      <div class="col-sm">
        <div class="subsubtext">
          <div style="color: black"><b>SUPPORT</b></div>
          <br />
          <div>Help</div>
          <div>Screen Sharing</div>
          <div>Contact Us</div>
          <div>Affiliate program</div><br>
          <div>CONNECT WITH US</div>
          <div class="row myrow">
            <div class="col-sm"><i class="fal fa-stop iconclass"></i></div>
            <div class="col-sm"><i class="fal fa-stop iconclass"></i></div>
            <div class="col-sm"><i class="fal fa-stop iconclass"></i></div>
          </div>


        </div>

      </div>
      <div class="col-sm">
        <div class="subsubtext">
          <div style="color: black"><b>CONTACT US</b></div>
          <br />
          <div><b>Appointy Software Inc, </b> 16 Corning</div>
          <div>Ave, Suite 136, Milpitas, CA 95035</div>

          <div>contact@appointy.com</div>
          <div>Privacy policy</div>
          <div>Terms of use</div>
          <div>GDPR</div>
        </div>
      </div>
    </div>
    </div>
</div>
</div>
