<div class="container containerClass">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="maintext">academic institutions</div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="subtext">
        Appointy can help businesses and institutions in the education, advising
        and non-profit domain schedule 1:1 sessions, round-robin meetings, and
        group classes
      </div>
    </div>
  </div>
  <div class="cards demo">
    <div class="row" style="padding-top: 80px">
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Schools.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Schools</div>
        <div class="subsubtext">
          Schools can make class time tables, schedule resources, organize staff
          & parent meetings, career counseling etc.
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Universities-and-Colleges.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Universities & Colleges</div>
        <div class="subsubtext">
          Institutions can schedule academic counseling, advising sessions,
          applicant interviews, campus tours, courses, and more
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img
            src="assets/images/Professors-Teachers.svg"
            class="logo"
            alt=""
          />
        </div>
        <div class="subheading">Professors & Teachers</div>
        <div class="subsubtext">
          Professors can let students book 1:1 classes, doubt clearing sessions,
          after school activities, project mentoring, and more
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Libraries.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Libraries</div>
        <div class="subsubtext">
          Public, school or university Libraries can manage bookings of study
          rooms, computer systems, hourly reading slots, etc.
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 60px">
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Tutors.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Tutors</div>
        <div class="subsubtext">
          Tutors can schedule in-person or online classes, market their
          business, manage students and more
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Student-Services.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Student Services</div>
        <div class="subsubtext">
          Students can schedule on campus tech support, repair works, admin
          enquiries etc. with student services
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Test-Centers.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Test Centers</div>
        <div class="subsubtext">
          Test centers can schedule seats, computers, test taking time-slots and
          more
        </div>
      </div>
      <div class="col-sm iconspad">
        <div class="d-flex justify-content-center">
          <img src="assets/images/Educational-Events.svg" class="logo" alt="" />
        </div>
        <div class="subheading">Educational Events</div>
        <div class="subsubtext">
          Institutions can let attendees reserve a seat for science fairs. art
          exhibitions, seminars, webinars, conferences, etc.
        </div>
      </div>
    </div>
  </div>
</div>
