.mainClass{
  background-color: white;
}


.demo{
  font-family: 'Varela Round', sans-serif;
}

.maintext{
  font-size: 35px;
  color: #424141;
  font-weight: bold;
  text-align: center;
}
.subtext{
  padding-top: 10px;
  font-size: 18px;
  color: #8d8585;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.subsubtext{
  color: #8d8585;
padding-top: 20px;
font-size: 15px;


}
.subheading{
  font-size: 20px;
  color: #424141;
  font-weight: bold;
  padding-top:30px;

}
.containerClass{
  padding-top: 100px ;
}

.iconspad{
  padding-right: 40px;
  padding-left:40px;
}
.myclass{


  padding: 50px;
  margin: 20px;
  background-color: #e2e8f0;
}
.headsub{
  font-size: 20px;
  color: #424141;
  font-weight: bold;

}
.imgclass{
  padding-top: 14px;
  padding-right: 10px;
}
.rowpad{
  padding-top:70px;
}
.btnclass{
  color: #E05E84;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border: 2px solid #E05E84;
}
.btn-secondary{

  background-color: #F5F8FA;
  border: none;
  color: #424141;
}
.testclass{
  padding-top: 20px;
}

.card{
  height:265px;
}

.imgclass2{
  height: 50%;
  width:50%
}
