<div class="container containerClass">

  <div class="row">
    <div class="col-sm-6" >
      <p  class="maintext demo">Education scheduling software to reduce admin work, increase efficiency, and deliver better results</p>
      <p class="subtext demo">Save valuable teaching time with easy online appointments, class scheduling, student management, payments, automated reminders and web conferencing!</p>

      <div class="demo subsubtext">
        <button type="button btn btn-sm" class="btn-grad rounded-pill">Get started now !</button><br><br>
        No credit card required! our free plan is free forever.
      </div>
    </div>
    <div class="col-sm-6" >
      <img src="assets/images/img1.svg" class="logo" alt="">
    </div>
  </div>
</div>
